body{
    background-color:cornsilk;
    scroll-behavior: smooth;
}

section{
    margin: 100px 200px 100px 100px;
}

section h5{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
}

.btn{
    margin: 30px;

}

.box{
    height: 200px;
    width: 200px;
    margin: 10px ;
}
 
.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.a{
    background-image: url("images/nature1.jpg");
}
.b{
    background-image: url("images/nature2.jpg");
}
.c{
    background-image: url("images/nature3.jpg");
}
.d{
    background-image: url("images/nature4.jpg");
}
.e{
    background-image: url("images/nature5.jpg");
}
.f{
    background-image: url("images/nature6.jpg");
}
 
span{
    position: relative;
    bottom:40px;
    right: 40px;
    font-weight: bolder;
}

.grid-container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(6, [col] auto);
    grid-template-rows: repeat(4, [row] auto);
}

.grid-container div{
    background-color: rgba(92, 86, 89, 0.719);
    padding: 50px;
    border-radius: 10px;
}
.ga{
    grid-column: col 1 / span 4;
    grid-row: row 1;
}
.ga li ,.gf li{
    display: inline-block;
    margin: 0 20px;
    padding: 10px;
    font-size: 25px;
}
.ga li:hover ,.gf li:hover{
    background-color: rgb(167, 164, 156);
    border-radius: 10px;
}
.ga a,.gf a{
    color: rgb(54, 102, 114);
    font-weight: bolder;
}
.gb img{
    width: 300px;
    height: 200px;
    position: relative;
    top: 50px;
}

.gb{
    grid-column: col 5 / span 2;
    grid-row: row 1 / span 3;
    background-color: cornsilk !important;
}

.gc{
    grid-column: col 1 / span 4;
    grid-row: row 2 / span 2;
}
.gd{
    grid-column: col 1 / span 6;
    grid-row: row 4 / span 2;
}
.ge{
    grid-column: col 1 / span 6;
    grid-row: row 5;
}
.gf{
    grid-column: col 1 / span 6;
    grid-row: row 6;
}

