body{
    background-color:cornsilk;
}

section{
    margin: 100px 200px 100px 100px;
}

section h5{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
}

.btn{
    margin: 30px;

}

.box{
    height: 200px;
    width: 200px;
    margin: 10px ;
}
 
.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.a{
    background-image: url("images/nature1.jpg");
}
.b{
    background-image: url("images/nature2.jpg");
}
.c{
    background-image: url("images/nature3.jpg");
}
.d{
    background-image: url("images/nature4.jpg");
}
.e{
    background-image: url("images/nature5.jpg");
}
.f{
    background-image: url("images/nature6.jpg");
}
 
/* @keyframes rotation{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(270deg);}
    100%{transform: rotate(360deg);}
}
 
#box1{
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    border-radius: 10%;
    background-image: radial-gradient(circle, purple, orange,
     yellow, pink, purple) ;
} */
